<a href="https://colab.research.google.com/github/eridu-origin/Pycharm-read-tsv-biformed-alphabet/blob/main/T_%26_C_Message_Decode_1623_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Francis Bacon: The Secret Writings, 1623
#Decoding theÂ 'Prologue to Troilus and Cressida'
Page 77 from the First Folio of Wm. Shakespeare



---


<u>PURPOSE</u><br>
To test the validity of the decoding presented on Page 12 of the 1916 booklet: 

>'The keys for deciphering the greatest work of Sir Francis Bacon, Baron of Verulam, Viscount St. Albans'

published by Riverbank Laboratories, the nation's first privately-funded research institute.

The booklet's principle author was the renowned cyptanalyst, William Friedman, who later become one of the two founders of the NSA (National Security Agency). Friedman may have coined the term, 'Cryptanalyst'. 

It is alleged that Francis Bacon, inventor of the Binary Code (at age seventeen) had covertly hidden a message to Posterity within the text of the least popular of Wm. Shekepeare's plays, Trolius and Cressida.


---


<u>METHOD</u><br>
A digital scan (to jpeg) of the booklet is used for manually transcribing Page 12, the Prologue to Trolius and Cressida into a Google Docs datasheet (tsv). The print quality is very poor of the antique font, and no effective OCR method was available.

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import os
import csv
import pandas as pd

#Root Directory for project content on Google Drive:
content_dir = '/content/drive/MyDrive'
project_dir = content_dir + "/T & C Message Decode 1623"
data_upload_dir = project_dir + "/text data to upload - tsv/upload"

#print(content_dir)
#print(project_dir)
#print(data_upload_dir)

#Input File (1 total):
data_upload_file = os.path.join(data_upload_dir, 'v21.tsv')
input_data_table = pd.read_csv(data_upload_file, sep='\t', header=None)
#input_data_table

today = '2022_11_18'
now = '10-58-37'
output_filename = today + now + '.csv'

#Output Files (3 total):
original_text_dir = project_dir + '/original text - csv/' 
biliterals_dir = project_dir + '/biliterals - csv/' 
output_data_table_dir = project_dir + '/output_data_table - csv/' 
decoded_message_dir = project_dir + '/decoded message - csv/'
archive_dir = project_dir + '/data archive - zip/'


if os.path.isdir(original_text_dir):
  print(original_text_dir)

if os.path.isdir(biliterals_dir):
  print(biliterals_dir)

if os.path.isdir(output_data_table_dir):
  print(output_data_table_dir)

if os.path.isdir(decoded_message_dir):
  print(decoded_message_dir)

if os.path.isdir(archive_dir):
  print(archive_dir)


#1. original text from book (5 characters)
#2. corresponding biliteral value (such as 'aabab')
#3. whether 
#4. decoded letter of message

/content/drive/MyDrive/T & C Message Decode 1623/original text - csv/
/content/drive/MyDrive/T & C Message Decode 1623/biliterals - csv/
/content/drive/MyDrive/T & C Message Decode 1623/decoded message - csv/
/content/drive/MyDrive/T & C Message Decode 1623/data archive - zip/

In [13]:
# Decode a five bit binary word into an English Alphabet letter.
# There were 22 letters in the Elizabethan English Alphabet:
#   'I' = 'J'
#   'U' = 'V'
# therefore 5 binary digits are more than enough, 2 (exp) 5 = 32

def decode_biliteral(which):

  decode = {
  'aaaaa': 'a',
  'aaaab': 'b',
  'aaaba': 'c',
  'aaabb': 'd',
  'aabaa': 'e',
  'aabab': 'f',
  'aabba': 'g',
  'aabbb': 'h',
  'abaaa': 'i',
  'abaab': 'k',
  'ababa': 'l',
  'ababb': 'm',
  'abbaa': 'n',
  'abbab': 'o',
  'abbba': 'p',
  'abbbb': 'q',
  'baaaa': 'r',
  'baaab': 's',
  'baaba': 't',
  'baabb': 'v',
  'babaa': 'w',
  'babab': 'x',
  'babba': 'y',
  'babbb': 'z'
  }

  which_letter = decode[which]
  return which_letter

In [14]:
original_text = input_data_table.iloc[0::3, :]
ot_path = original_text_dir + output_filename
original_text.to_csv (ot_path, index = None, header=True) 
#original_text

In [15]:
biliterals = input_data_table.iloc[1::3, :]
bl_path = biliterals_dir + output_filename
biliterals.to_csv (bl_path, index = None, header=True) 
#biliterals

In [17]:
output_encoded_dataframe = input_data_table.copy(deep=True)

encoded_text_size = 0
original_text_letters = ''

for row in range(2,45,3):
  for column in range(14):
    letter = output_encoded_dataframe.loc[row - 2,column] 
    biliteral = output_encoded_dataframe.loc[row - 1,column] 
    which_letter = decode_biliteral(biliteral)
    output_encoded_dataframe.loc[row,column] = which_letter
    encoded_text_size += 5
    original_text_letters += letter

#print(original_text_letters)

TheProlugueINTroyTherelyesthesceneFromIlesofGreeceThePrincesOrgilloustheirhighbloodchafdHauetotheportofAthenssenttheirshippesFraughtwiththeministersandinstrumentsOferuellWarreSixtyandninethatworeTheirCrownetsRegalifromthAthenianbayPutforthtowardPhyrginandtheirvowismadeToransackeTroywithinwhosestrongemuresTherauishdHelenmenelausQueeneWithwantonParissleepesandthatstheQuarrellToTenedostheyeomeAndthedeepedrawingBarkedotheredisgorgeTheirwarlikefrautagenowonDardanPlainesThefreshandyetvabruisedGreekesdopitehTheirbrauePauillionsPriamssixgatedCityDardanAndTimbriaHeliasChetasTroienAndAntenonidnswithmassieStaplesAndcorresponsineandfulfillimgBoltsStirrevptheSohnesofTroyNowExpectationticklingskittishspiritsOaoneandothersideTroianandGreekeSetsaHonhazardAndhitheramJeomeAProloguearmdbutnotinconfideneeOfAuthorspenorAetorsvoyeebutsuitedJulikeeonditionsasourArgumentTotellyoufaireBeholdersthatourPlayLeapesprethevanntandfirstlingsofthosebroylesBeginninginthemiddlestartinghteneeawayTowhatmaybedigestedinaPlayLikcorfindefaultdoasyonrpleasuresareNowgoodorbad

In [18]:


decoded_message = ''
biliteral_values = ''

new_file_path = '/content/drive/MyDrive/T & C Message Decode 1623/decoded message - csv/text.csv'
with open(new_file_path, 'w') as new_f:
  writer = csv.writer(new_f)

  for row in range(0,15,1):
    for column in range(14):
      biliteral = biliterals.iloc[row, column]
      which_letter = decode_biliteral(biliteral)
      decoded_message += which_letter
      biliteral_values += biliteral 

  #print('Raw Biliterals: ' + biliteral_values)
  print('Raw Decoded Message: ' + decoded_message)
  writer.writerow(decoded_message)

 # biliterals.to_csv('/content/drive/MyDrive/Powell Prologue 1916/decoded message - csv/text.csv', index = None, header=True) 

print('\n')

print('Encoded Text Size: ' + str(encoded_text_size))
print('Biliterals Text Size: ' + str (len(biliteral_values)))
print('Decoded Text Size: ' + str(len(decoded_message)))

Raw Decoded Message: francisstalbandescendedfromthemightyheroesoftroylovingandreveringthesenobleancestorshidinhiswritingshomersilliadsandodysseyincipherwiththeaeneidofthenoblevirgilprinceoflatinpoetsinscribingtheletterstoelizabethr


Encoded Text Size: 1050
Biliterals Text Size: 1050
Decoded Text Size: 210

# Dividing the raw decoded text string into Words with spaces:<br><br>

francis st alban descended from the mighty heroes of troy loving and revering these noble ancestors hid in his writings homers illiads and odyssey in cipher with the aeneid of the noble virgil prince of latin poets inscribing the letters to elizabeth r<br><br>



---

# Providing basic styling:<br><br>
Francis St. Alban,<br>
Descended from the mighty heroes of Troy,<br>
Loving and revering these noble ancestors,<br>
hid in his writings<br>
Homer's Illiads and Odyssey in cipher,<br>
with the Aeneid of the noble Virgil,<br>
Prince of Latin poets,<br>
Inscribing the letters to:<br>
Elizabeth, R<br><br>

#To proceed with Machine Reconition of the 'a' vs. 'b' biliteral styles, a necessary step is enabling lookup of the style of any indidivual letter of the original text:

In [19]:
original_text_letters_list = list(original_text_letters)

print (original_text_letters_list)
biliteral_values_list = list(biliteral_values)

df = pd.DataFrame()
df['Original Letter'] = pd.Series(original_text_letters_list)
df['Biliteral Value'] = pd.Series(biliteral_values_list)

df

['T', 'h', 'e', 'P', 'r', 'o', 'l', 'u', 'g', 'u', 'e', 'I', 'N', 'T', 'r', 'o', 'y', 'T', 'h', 'e', 'r', 'e', 'l', 'y', 'e', 's', 't', 'h', 'e', 's', 'c', 'e', 'n', 'e', 'F', 'r', 'o', 'm', 'I', 'l', 'e', 's', 'o', 'f', 'G', 'r', 'e', 'e', 'c', 'e', 'T', 'h', 'e', 'P', 'r', 'i', 'n', 'c', 'e', 's', 'O', 'r', 'g', 'i', 'l', 'l', 'o', 'u', 's', 't', 'h', 'e', 'i', 'r', 'h', 'i', 'g', 'h', 'b', 'l', 'o', 'o', 'd', 'c', 'h', 'a', 'f', 'd', 'H', 'a', 'u', 'e', 't', 'o', 't', 'h', 'e', 'p', 'o', 'r', 't', 'o', 'f', 'A', 't', 'h', 'e', 'n', 's', 's', 'e', 'n', 't', 't', 'h', 'e', 'i', 'r', 's', 'h', 'i', 'p', 'p', 'e', 's', 'F', 'r', 'a', 'u', 'g', 'h', 't', 'w', 'i', 't', 'h', 't', 'h', 'e', 'm', 'i', 'n', 'i', 's', 't', 'e', 'r', 's', 'a', 'n', 'd', 'i', 'n', 's', 't', 'r', 'u', 'm', 'e', 'n', 't', 's', 'O', 'f', 'e', 'r', 'u', 'e', 'l', 'l', 'W', 'a', 'r', 'r', 'e', 'S', 'i', 'x', 't', 'y', 'a', 'n', 'd', 'n', 'i', 'n', 'e', 't', 'h', 'a', 't', 'w', 'o', 'r', 'e', 'T', 'h', 'e', 'i', 'r', 'C', 'r', 'o', 'w', 'n', 'e', 't', 's', 'R', 'e', 'g', 'a', 'l', 'i', 'f', 'r', 'o', 'm', 't', 'h', 'A', 't', 'h', 'e', 'n', 'i', 'a', 'n', 'b', 'a', 'y', 'P', 'u', 't', 'f', 'o', 'r', 't', 'h', 't', 'o', 'w', 'a', 'r', 'd', 'P', 'h', 'y', 'r', 'g', 'i', 'n', 'a', 'n', 'd', 't', 'h', 'e', 'i', 'r', 'v', 'o', 'w', 'i', 's', 'm', 'a', 'd', 'e', 'T', 'o', 'r', 'a', 'n', 's', 'a', 'c', 'k', 'e', 'T', 'r', 'o', 'y', 'w', 'i', 't', 'h', 'i', 'n', 'w', 'h', 'o', 's', 'e', 's', 't', 'r', 'o', 'n', 'g', 'e', 'm', 'u', 'r', 'e', 's', 'T', 'h', 'e', 'r', 'a', 'u', 'i', 's', 'h', 'd', 'H', 'e', 'l', 'e', 'n', 'm', 'e', 'n', 'e', 'l', 'a', 'u', 's', 'Q', 'u', 'e', 'e', 'n', 'e', 'W', 'i', 't', 'h', 'w', 'a', 'n', 't', 'o', 'n', 'P', 'a', 'r', 'i', 's', 's', 'l', 'e', 'e', 'p', 'e', 's', 'a', 'n', 'd', 't', 'h', 'a', 't', 's', 't', 'h', 'e', 'Q', 'u', 'a', 'r', 'r', 'e', 'l', 'l', 'T', 'o', 'T', 'e', 'n', 'e', 'd', 'o', 's', 't', 'h', 'e', 'y', 'e', 'o', 'm', 'e', 'A', 'n', 'd', 't', 'h', 'e', 'd', 'e', 'e', 'p', 'e', 'd', 'r', 'a', 'w', 'i', 'n', 'g', 'B', 'a', 'r', 'k', 'e', 'd', 'o', 't', 'h', 'e', 'r', 'e', 'd', 'i', 's', 'g', 'o', 'r', 'g', 'e', 'T', 'h', 'e', 'i', 'r', 'w', 'a', 'r', 'l', 'i', 'k', 'e', 'f', 'r', 'a', 'u', 't', 'a', 'g', 'e', 'n', 'o', 'w', 'o', 'n', 'D', 'a', 'r', 'd', 'a', 'n', 'P', 'l', 'a', 'i', 'n', 'e', 's', 'T', 'h', 'e', 'f', 'r', 'e', 's', 'h', 'a', 'n', 'd', 'y', 'e', 't', 'v', 'a', 'b', 'r', 'u', 'i', 's', 'e', 'd', 'G', 'r', 'e', 'e', 'k', 'e', 's', 'd', 'o', 'p', 'i', 't', 'e', 'h', 'T', 'h', 'e', 'i', 'r', 'b', 'r', 'a', 'u', 'e', 'P', 'a', 'u', 'i', 'l', 'l', 'i', 'o', 'n', 's', 'P', 'r', 'i', 'a', 'm', 's', 's', 'i', 'x', 'g', 'a', 't', 'e', 'd', 'C', 'i', 't', 'y', 'D', 'a', 'r', 'd', 'a', 'n', 'A', 'n', 'd', 'T', 'i', 'm', 'b', 'r', 'i', 'a', 'H', 'e', 'l', 'i', 'a', 's', 'C', 'h', 'e', 't', 'a', 's', 'T', 'r', 'o', 'i', 'e', 'n', 'A', 'n', 'd', 'A', 'n', 't', 'e', 'n', 'o', 'n', 'i', 'd', 'n', 's', 'w', 'i', 't', 'h', 'm', 'a', 's', 's', 'i', 'e', 'S', 't', 'a', 'p', 'l', 'e', 's', 'A', 'n', 'd', 'c', 'o', 'r', 'r', 'e', 's', 'p', 'o', 'n', 's', 'i', 'n', 'e', 'a', 'n', 'd', 'f', 'u', 'l', 'f', 'i', 'l', 'l', 'i', 'm', 'g', 'B', 'o', 'l', 't', 's', 'S', 't', 'i', 'r', 'r', 'e', 'v', 'p', 't', 'h', 'e', 'S', 'o', 'h', 'n', 'e', 's', 'o', 'f', 'T', 'r', 'o', 'y', 'N', 'o', 'w', 'E', 'x', 'p', 'e', 'c', 't', 'a', 't', 'i', 'o', 'n', 't', 'i', 'c', 'k', 'l', 'i', 'n', 'g', 's', 'k', 'i', 't', 't', 'i', 's', 'h', 's', 'p', 'i', 'r', 'i', 't', 's', 'O', 'a', 'o', 'n', 'e', 'a', 'n', 'd', 'o', 't', 'h', 'e', 'r', 's', 'i', 'd', 'e', 'T', 'r', 'o', 'i', 'a', 'n', 'a', 'n', 'd', 'G', 'r', 'e', 'e', 'k', 'e', 'S', 'e', 't', 's', 'a', 'H', 'o', 'n', 'h', 'a', 'z', 'a', 'r', 'd', 'A', 'n', 'd', 'h', 'i', 't', 'h', 'e', 'r', 'a', 'm', 'J', 'e', 'o', 'm', 'e', 'A', 'P', 'r', 'o', 'l', 'o', 'g', 'u', 'e', 'a', 'r', 'm', 'd', 'b', 'u', 't', 'n', 'o', 't', 'i', 'n', 'c', 'o', 'n', 'f', 'i', 'd', 'e', 'n', 'e', 'e', 'O', 'f', 'A', 'u', 't', 'h', 'o', 'r', 's', 'p', 'e', 'n', 'o', 'r', 'A', 'e', 't', 'o', 'r', 's', 'v', 'o', 'y', 'e', 'e', 'b', 'u', 't', 's', 'u', 'i', 't', 'e', 'd', 'J', 'u', 'l', 'i', 'k', 'e', 'e', 'o', 'n', 'd', 'i', 't', 'i', 'o', 'n', 's', 'a', 's', 'o', 'u', 'r', 'A', 'r', 'g', 'u', 'm', 'e', 'n', 't', 'T', 'o', 't', 'e', 'l', 'l', 'y', 'o', 'u', 'f', 'a', 'i', 'r', 'e', 'B', 'e', 'h', 'o', 'l', 'd', 'e', 'r', 's', 't', 'h', 'a', 't', 'o', 'u', 'r', 'P', 'l', 'a', 'y', 'L', 'e', 'a', 'p', 'e', 's', 'p', 'r', 'e', 't', 'h', 'e', 'v', 'a', 'n', 'n', 't', 'a', 'n', 'd', 'f', 'i', 'r', 's', 't', 'l', 'i', 'n', 'g', 's', 'o', 'f', 't', 'h', 'o', 's', 'e', 'b', 'r', 'o', 'y', 'l', 'e', 's', 'B', 'e', 'g', 'i', 'n', 'n', 'i', 'n', 'g', 'i', 'n', 't', 'h', 'e', 'm', 'i', 'd', 'd', 'l', 'e', 's', 't', 'a', 'r', 't', 'i', 'n', 'g', 'h', 't', 'e', 'n', 'e', 'e', 'a', 'w', 'a', 'y', 'T', 'o', 'w', 'h', 'a', 't', 'm', 'a', 'y', 'b', 'e', 'd', 'i', 'g', 'e', 's', 't', 'e', 'd', 'i', 'n', 'a', 'P', 'l', 'a', 'y', 'L', 'i', 'k', 'c', 'o', 'r', 'f', 'i', 'n', 'd', 'e', 'f', 'a', 'u', 'l', 't', 'd', 'o', 'a', 's', 'y', 'o', 'n', 'r', 'p', 'l', 'e', 'a', 's', 'u', 'r', 'e', 's', 'a', 'r', 'e', 'N', 'o', 'w', 'g', 'o', 'o', 'd', 'o', 'r', 'b', 'a', 'd']

     Original Letter Biliteral Value
0                  T               a
1                  h               a
2                  e               b
3                  P               a
4                  r               b
...              ...             ...
1044               o               b
1045               r               b
1046               b               a
1047               a               a
1048               d               a

[1049 rows x 2 columns]

In [20]:
sample1 = df.iloc[0]
sample2 = df.iloc[2]

print(sample1.to_string())
print("\n")
print(sample2.to_string())

Original Letter    T
Biliteral Value    a


Original Letter    e
Biliteral Value    b


Two Samples:

The first word of the original text is "The".

>Thus the first letter of the original text, 'T', was encoded using the 'a' biliteral value, or binary Zero.

>The third letter of the original text, 'e', was encoded using the 'b' biliteral value, or binary One.